name: Build & Publish

on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  run-unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Maven
        uses: stCarolas/setup-maven@v4.4
        with:
          maven-version: '3.8.2'

      - name: Unit Tests
        run: mvn test
    
  build-and-publish:
    name: Build and Publish Docker Image
    runs-on: ubuntu-24.04
    needs: run-unit-tests
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/devopsstudy:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/devopsstudy:${{ github.sha }}

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/devopsstudy:latest

            docker stop devopsstudy || true
            docker rm devopsstudy || true

            docker run -d \
              --name devopsstudy \
              -p 8080:80 \
              --restart unless-stopped \
              ${{ secrets.DOCKERHUB_USERNAME }}/devopsstudy:latest